extends layout

block layout-content
    div.View.WelcomeView
        h1.Banner HeaderTester
        div.Message
            div.Title
                h3 Test and verify the headers you sent to this application by clicking on see more.
            span.Details Learn more about Application Proxy at:
                a(href="https://aka.ms/whyappproxy") https://aka.ms/whyappproxy
        div.NavButtons
            a(href="/user")
                div.NavButton See more!