extends layout

block layout-content
    div.View.WelcomeView
        h1.Banner Header Test App
        div.Message
            div.Title
                h3 Verify the headers you sent to this app by clicking on see more
            span.Details Learn more about Application Proxy at: 
                a(href="https://aka.ms/whyappproxy", target="_blank") https://aka.ms/whyappproxy
        div.NavButtons
            a(href="/user")
                div.NavButton See more