extends layout

block layout-content
    div.View.WelcomeView
        h1.Banner HeaderTester
        div.Message
            div.Title
                h3 Test and verify 
                h1 Headers!
            span.Details Check out Application Proxy.
        div.NavButtons
            a(href="/user")
                div.NavButton See more!